{% extends 'base.html' %}
{% block content %}


<div class="card bg-light p-5">

  

 

  <h1 class="text-dark">Login</h1>

  <form action="/auth/login/" method="post">{% csrf_token %}
    <br>
  
  
    <label for="email">Email</label>
    <div class="form-group">
      <input type="email" class="form-control " id="email" name="email" required>
    </div>
    <label for="pass1">Password</label>
    <div class="form-group">
      <input type="password" class="form-control" id="pass1" name="pass1" required>
    </div>
    <br>
    <button type="submit" class="btn btn-dark">Login</button>
    <br>
    New User? <a href="/auth/signup">SignUp</a>
    <br>
  
</form>
  

</div>




{% endblock content %}